<!DOCTYPE HTML>
<html>
<head>
  <title>TARA-Java</title>

  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>

<body>
  <h1>TARA autentimisteenuse demo (Java)</h1>

  <p>
    <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka teisest EL riigist tulnud kasutaja.
  </p>
    
  <p>
    TARA demo on klientrakendus, mis on ühendatud TARA testteenusega. TARA kaudu on demo ühendatud ka välisriikide eIDAS testteenustega.
  </p>

  <p>Demo pakub võimalust proovida autentimist testnumbritega, -kaartidega või -seadistustega.</p>
    
  <p>Vt lähemalt <a href='https://e-gov.github.io/TARA-Doku/Testimine' target='_new'>Autentimisteenus TARA. Testimine</a>.</p>

  <hr>

  <p>Proovi näiteks mobiil-ID-ga autentimist:</p>
  
  <p>1 Kopeeri lõikelauale või jäta meelde testisiku mobiilinumber <code>+372 00000766</code> ja isikukood <code>60001019906</code>. </p>

  <p>2 Ava 
    <a href='/autentimisele' target='_new'>
      autentimisdialoog (uuel sakil)
    </a>
  </p>

  <p>3 Vali <code>Mobiil-ID</code> ja sisesta testisiku isikukood ning mobiilinumber. Vajuta <code>Jätkan</code>. Testteenus viib autentimise automaatselt lõpuni (7 s viivitusega).</p>

  <p><a href='https://e-gov.github.io/TARA-Doku/' target='_new'>Autentimisteenuse TARA</a> näidis-klientrakendus</p>

  <p>Demo pakub võimalust proovida autentimist testnumbritega, -kaartidega või testseadistuste abil. Vt lähemalt <a href='https://e-gov.github.io/TARA-Doku/Testimine' target='_new'>Autentimisteenus TARA. Testimine</a>. Näiteks saate mobiil-ID-ga testimist proovida testnumbriga <code>+37200000766</code>. <i>Märkus. Hetkel võivad töötada veel reaalsed numbrid.</i></p>

  <hr>
  
  <p>Lähtekood: <a href='https://github.com/e-gov/TARA-Java' target='_new'>https://github.com/e-gov/TARA-Java</a></p>

</body>
</html>