<!DOCTYPE HTML>
<html>
<head>
  <title>TARA-Java</title>

  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>

<body>
  <h1>Autentimisteenuse TARA demo (Java)</h1>

  <p>
    <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka teisest EL riigist tulnud kasutaja.
  </p>
    
  <p>
    TARA demo on klientrakendus, mis on ühendatud TARA testteenusega. TARA kaudu on demo ühendatud ka välisriikide eIDAS testteenustega.
  </p>

  <p>Demo pakub võimalust proovida autentimist testnumbritega, -kaartidega või -seadistustega.</p>
    
  <p>Vt lähemalt <a href='https://e-gov.github.io/TARA-Doku/Testimine' target='_new'>Autentimisteenus TARA. Testimine</a>.</p>

  <hr>

  <!-- Autentimisele -->
  <p>
    <a class="imgLink"
      href="/autentimisele"
      style="border: 1px solid grey; padding: 10px">
      Autentimisele
    </a>
  </p>
 
  <hr>

  <p>
    Lähtekood: <a href='https://github.com/e-gov/TARA-Java' target='_new'>https://github.com/e-gov/TARA-Java</a>
  </p>

</body>
</html>