<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TARA-Java</title>

  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>

</head>

<body>
  <h1>Autentimisteenuse TARA demo (Java)</h1>

  <!-- Autentimisele -->
  <p>
    <a class="imgLink"
      href="/autentimisele"
      style="border: 1px solid grey; padding: 10px">
      Autentimisele
    </a>
  </p>
 
  <p>
    Lähtekood: <a href='https://github.com/e-gov/TARA-Java' target='_new'>https://github.com/e-gov/TARA-Java</a>
  </p>

</body>
</html>